
    .sony{
        background-color: black;
        color: white;
        border: 10px solid yellow;
        border-radius: 50px;
        margin: 10px 20px 20px 10px; 
        padding: 20px;
        
    }
    
    .max{
        background-color:blue;
        color: white;
        border: 2px dotted yellow;
        border-radius: 40px;
        margin: 10px 20px 20px 10px;
        padding: 20px;
        }
        .hob{background-color: forestgreen;
        color: white;
        border: 2px dotted rgb(0, 0, 0);
        border-radius: 30px;
        margin: 10px 20px 20px 10px;
        padding: 20px;
        
        }
        .ton{
           text-align: center;
            font-size: 40px;
           font-weight: 1000px;
        }
        .tut{
            text-align: justify;
            font-size: 20px;
            color: red;
            
        }
    small{
        display: block;
    }